[submodule "config"]
	path = config
	url = https://github.com/georchestra/datadir.git
	branch = docker-master
[submodule "resources/static"]
	path = resources/static
	url = https://github.com/georchestra/htdocs.git
	branch = master
[submodule "landing-page"]
	path = landing-page
	url = https://youssefallalix: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@github.com/geoapnet/geovision-landingpage.git
[submodule "datahub"]
	path = datahub
	url = https://youssefallalix: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@github.com/geoapnet/geovision-datahub.git
[submodule "datafeeder"]
	path = datafeeder
	url = https://youssefallalix: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@github.com/geoapnet/geovision-datafeeder.git
[submodule "header"]
	path = header
	url = https://youssefallalix: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@github.com/geoapnet/geovision-header.git
[submodule "console"]
	path = console
	url = https://youssefallalix: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@github.com/geoapnet/geovision-console.git
